Mulesoft/.mule/plugins-tmp/repository/4.10.1/org/mule/modules/mule-aggregators-module/1.1.3/mule-aggregators-module-1.1.3-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/aggregators" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aggregators" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AggregatorListenerType" substitutionGroup="mule:abstract-message-source" name="aggregator-listener">
    <xs:annotation>
      <xs:documentation>Source for listening to events triggered by aggregator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AggregatorListenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="aggregatorName"></xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="includeTimedOutGroups"></xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aggregators" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GroupBasedAggregatorType" substitutionGroup="mule:abstract-operator" name="group-based-aggregator"></xs:element>
  <xs:complexType name="GroupBasedAggregatorType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="object-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="incremental-aggregation">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="aggregation-complete">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="-1" name="timeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aggregators" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="timeoutUnit"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[correlationId]" name="groupId"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" default="#[itemSequenceInfo.sequenceSize]" name="groupSize"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="180" name="evictionTime"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aggregators" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="evictionTimeUnit"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aggregators" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SizeBasedAggregatorType" substitutionGroup="mule:abstract-operator" name="size-based-aggregator"></xs:element>
  <xs:complexType name="SizeBasedAggregatorType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="object-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="incremental-aggregation">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="aggregation-complete">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="required" name="maxSize"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="-1" name="timeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aggregators" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="timeoutUnit"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aggregators" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="TimeBasedAggregatorType" substitutionGroup="mule:abstract-operator" name="time-based-aggregator"></xs:element>
  <xs:complexType name="TimeBasedAggregatorType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="object-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="incremental-aggregation">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="-1" name="maxSize"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="required" name="period"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aggregators" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="periodUnit"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>